extends base.pug

block scripts
   script(src='../static/index.js ')

block style
   style
    include ../static/style.css
    include ../static/styleServices.css

block content 
    div#ourServices
      h2 Our Centers
      ul 
        li Lucknow
        li Noida 
        li Kanpur 
        li Jaipur 
        li Chennai     
        li Kolkata 
        li Bhopal